@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@600;700&family=Lato:wght@400;700');

/* =======================Genarel Area Start=============================== */
* {
    margin: 0;
    padding: 0;
}

:root {
    --aep-primary-font: "Cabin";
    --aep-secondary-font: "Lato";
    --aep-primary-color: #FFCC4A;
    --aep-secondary-color: #4EAF4E;
    --aep-heading-color: #181818;
    --aep-text-color: #595566;
    --aep-button-color: #181818;
    --aep-bc-color: #F5F5F5;

}

.container {
    width: 1200.995px;
    margin-left: auto;
    margin-right: auto;


}

.aep-btn,
.contact-form input.wpcf7-submit {

    display: inline-block;
    padding: 16px 33px;
    align-items: center;
    gap: 10px;
    border-radius: 42px;
    background: #181818;
    color: #F5F5F5;
    border: 1px solid transparent;

}

.aep-btn-2 {
    padding: 16px 46px;
    width: 245px;
    border-radius: 42px;
    background: var(--aep-primary-color);
    display: inline-block;
    border: 1px solid transparent;
}

.aep-btn:hover,
.aep-btn-2:hover {
    color: #181818;
    background: #FFF;
    border: 1px solid var(--aep-button-color);
}

a {
    color: #353535;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    /* 28.8px */
}

.aep-btn a {
    color: var(--aep-bc-color);
    font-family: var(--aep-secondary-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    /* 28.8px */
}

.aep-btn:hover a {
    color: var(--aep-button-color);

}


h1 {
    color: var(--aep-heading-color);
    font-family: var(--aep-primary-font);
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    /* 65px */
}

h2 {
    color: var(--aep-heading-color);
    font-family: var(--aep-primary-font);
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    /* 65px */
}

h3 {
    color: var(--aep-heading-color);
    font-family: var(--aep-primary-font);
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    /* 65px */
}

h4 {
    color: var(--aep-heading-color);
    font-family: var(--aep-primary-font);
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 147.5%;
    /* 26.55px */
}

h5 {
    color: var(--aep-heading-color);
    font-family: var(--aep-primary-font);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    /* 65px */
}

h6 {
    color: var(--aep-bc-color);
    font-family: var(--aep-primary-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 147.5%;
    letter-spacing: 2.32px;
    text-transform: uppercase;
    border-radius: 20px;
    background: var(--aep-secondary-color);
    padding: 5px 16px;
    display: inline-block;
}

p {
    color: var(--aep-text-color);
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 147.5%;

}

span {
    color: var(--aep-heading-color);
    font-family: var(--aep-primary-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 147.5%;
    letter-spacing: 2.32px;
    text-transform: uppercase;
    border-radius: 20px;
    background: var(--aep-primary-color);
    padding: 5px 16px;

}

/* =======================Genarel Area End=============================== */

/* ====================================================== */
/* header menu all start */
.header-menu-area {
    position: relative;
}

.header-menu-area>a {
    position: absolute;
    right: 12px;
    top: -25px;
}

.header-menu-area i {
    color: var(--aep-bc-color);
    font-size: 50px;
    display: none;
}

#main_menu {
    width: 100%;
    clear: both;
}

#main_menu ul {
    margin: 0;
    padding: 0;
    list-style: none;

}


#main_menu ul li {
    display: inline-block;
    position: relative;
}

#main_menu ul li a {
    color: var(--aep-bc-color);
    font-family: var(--aep-secondary-font);
    font-size: 17.728px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    display: block;
    padding: 5px 30px;
    position: relative;
    /* 28.365px */

}

#main_menu ul li a::before {
    content: '.';
    font-size: 43px;
    position: absolute;
    top: -7px;
    left: 11px;

}

#main_menu ul li a:hover a::before {
    color: var(--aep-secondary-color);
}

#main_menu ul li:hover a {
    color: var(--aep-secondary-color);
}

#main_menu ul li:hover ul li a {
    color: var(--aep-bc-color);

}

/* dropdown */
#main_menu ul ul {
    position: absolute;
    background-color: purple;
    width: 180px;
    top: 30px;
    left: 0;
    display: none;
    z-index: 9991;
}

#main_menu ul ul ul {
    background-color: purple;
    top: 0;
    left: 180px;
    display: none;
    z-index: 999;

}

#main_menu ul li:hover ul {
    display: block;
}

#main_menu ul li:hover ul ul {
    display: none;
}

#main_menu ul ul li {
    margin: 0;
    display: block;
}

#main_menu ul ul li a:hover {
    background-color: var(--aep-secondary-color);
    color: red;

}


#main_menu ul li:hover ul li:hover ul {
    display: block;
}

/* header menu all end */
.header_phone_call i {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--aep-primary-color);
    border-radius: 50%;
    width: 43px;
    height: 43px;
}

/* hero area home */
.aep-home-hero-area {
    padding: 200px;
}

.aep-home-hero-content {
    display: flex;
    width: 551.146px;
    padding: 55px 58px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 29px;
    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(5.5px);
}

/* .aep-brand-logo start */
.aep-brand-logo img {
    max-width: 150px;
    height: 50px;

}

/* about us area start */
.aep-about-us-home-area-all {
    padding-top: 126px;
    padding-bottom: 174px;
}

.aep-single-number-area {
    border-radius: 15px;
    background: #F6F6F6;
    padding: 23px;
    margin-top: 55px;
}


.aep-about-us-content {
    border-radius: 20px;
    background: var(--aep-bc-color);
    box-shadow: -5px 22px 26px 0px rgba(95, 95, 95, 0.25);
    padding: 30px;
    width: 241.168px;
    height: 136.75px;
    flex-shrink: 0;
    position: absolute;
    bottom: 0;
    left: 41px;
    z-index: 999;
}

.lef-value h5 {
    position: absolute;
    top: 36px;
    right: 29px;
}

/* gellary area start */
.gellary-area-flex {
    padding-top: 234px;
    padding-bottom: 307px;

}

.aep-home-gellary-img {
    padding: 25px;
    border-radius: 30px;
    background: #FAFAFA;
}

.aep-single-gellary-img i {
    position: absolute;
    right: 45px;
    top: 23px;
    color: var(--aep-heading-color);
    font-size: 30px;
    width: 54.121px;
    height: 54.121px;
    background-image: linear-gradient(154deg, #FFE9B1 -8.69%, #DDA003 120.59%);
    border-radius: 50%;
    display: none;
    padding-top: 13px;
    padding-left: 13px;


}

.aep-home-gellary-img {
    position: absolute;
    top: 443px;
}

.gellary-aep-home-content {
    bottom: 23px;
    left: 23px;
    display: none;
}

.aep-single-gellary-img img {
    max-width: 367px;
    height: 345px;
}

.aep-single-gellary-img:hover.aep-single-gellary-img i,
.aep-single-gellary-img:hover .gellary-aep-home-content {
    display: block;
}


/* sevice home area start */
.aep-home-service-area {
    display: flex;
    width: 1918.995px;
    padding: 170px 359px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background: #F5F5F5;
}

.aep-home-single-service-area {
    display: flex;
    width: 387.003px;
    padding: 49px 47px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #EBEBEB;
}

.aep-home-single-service-area:hover {
    background-color: #181818;

}

.aep-home-single-service-area:hover h4,
.aep-home-single-service-area:hover p {
    color: var(--aep-bc-color);
}

.aep-home-skill-area-all {
    padding-top: 150px;
    padding-bottom: 150px;
}

.aep-home-single-all-exprince {
    margin-top: 20px;
}

/* home skill area start */
.aep-team-member-area-all {
    margin-top: 544px;
}

.aep-skill-single-area {
    border-top: 1px solid #C1C1C1;
    padding-top: 28px;
    margin-top: 40px;
    display: flex;
    align-items: flex-start;
    gap: 16px;

}

.aep-skill-single-number {
    width: 52.332px;
    height: 52.332px;
    flex-shrink: 0;
    background-color: var(--aep-primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.aep-skill-single-number:hover {
    background-color: var(--aep-secondary-color);
}

.aep-skill-single-number:hover h4 {
    color: var(--aep-bc-color);
}

/* --------------------------------- */
/* home exprience area start */
/* --------------------------------- */

.single-home-exprence-area {
    display: flex;
    padding: 33px 23px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 20px;
    border: 1px solid #EAEAEA;
    background: #FAFAFA;
}

/* ------------------------------------- */
/* single testimonail start */
/* ------------------------------------- */

.aep-home-testimonial-area-container {
    padding-left: 285px;
    padding-right: 285px;
    padding-top: 193px;
    padding-bottom: 93px;

}

.single-aep-home-testimonial h2 {
    color: #CECECE;
    text-align: center;
    font-family: Cabin;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 116%;
    background-color: transparent;
}

.single-aep-home-testimonial h2 span {
    color: #181818;
    font-family: var(--aep-primary-font);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 116%;
    background-color: transparent;
}

.aep-book-area-left h2 {
    color: var(--aep-bc-color);
    font-family: var(--aep-primary-font);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 116%;

}

.single-aep-home-testimonial img {
    max-width: 211px;
    border-radius: 50%;
}

.aep-home-testimonials .owl-nav {
    display: flex;
    position: absolute;
    justify-content: space-around;
    top: 263px;
    gap: 478px;

}

.aep-home-testimonials .owl-nav button.owl-prev,
.aep-home-testimonials .owl-nav button.owl-next {
    width: 125px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 42px;
    background: #F3F3F3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.aep-home-testimonials .owl-nav p,
.aep-service-finance-area .owl-nav p {
    color: #353535;
    font-family: var(--aep-secondary-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;


}

.aep-home-testimonials .owl-nav button i,
.aep-service-finance-area .owl-nav button i {
    width: 48px;
    height: 48px;
    font-size: 20px;
    color: var(--aep-button-color);
    background-color: var(--aep-primary-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.aep-home-testimonials .owl-nav button i:hover,
.aep-service-finance-area .owl-nav button i:hover {
    background-color: var(--aep-heading-color);
    color: var(--aep-bc-color);
}

/* --------------------------------------- */
/* home booking now area start */
/* --------------------------------------- */


.aep-book-area-container {
    border-radius: 30px;
    background: #181818;
    padding-left: 90px;
    padding-right: 90px;
    position: relative;
}

.aep-book-area-left {
    margin-top: 115px;
    margin-bottom: 115px;
}

.aep-book-area-right-img-1 {
    position: absolute;
    bottom: 0;
    background-position: left top;
    background-repeat: no-repeat;
    z-index: 9999999;
    background-size: cover;

}

.aep-book-area-right-img-2 {
    position: absolute;
    right: 49px;
    background-color: #DDA003;

}

/* ------------------------------------------------- */
/* blog post area atart */
/* ------------------------------------------------- */
.aep-home-blog-area {
    padding-top: 178px;
    padding-bottom: 178px;
    background: #F5F5F5;   
}

.single-blog-meta-area-name img {
    border-radius: 50%;
}

.single-aep-blog-area img {
    border-radius: 20px;
}

/* ------------------------------------------- */
/* contact area source start */
/* ------------------------------------------- */

.single-contact-source i {
    width: 52.332px;
    height: 52.332px;
    color: yellow;
    background-color: #4EAF4E;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.single-contact-source i:hover {
    background-color: yellow;
    color: #4EAF4E;

}

/* ------------------------------------------------ */
/* contact-form */
/* ------------------------------------------------ */


.contact-form label {
    color: var(--aep-heading-color);
    font-family: var(--aep-secondary-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 147.5%;
}

.contact-form input {
    display: flex;
    padding: 22px 33px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 54px;
    border: 1px solid #C1C1C1 !important;
    background: #FFF;

}

.contact-form textarea {
    display: flex;
    width: 666px;
    padding: 22px 33px 111px 33px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 22px;
    border: 1px solid #C1C1C1;
    background: #FFF;

}

/* ------------------------------------------------------------- */
/* footer arrea */
/* ------------------------------------------------------------- */
.all-footer-area {
    padding-top: 126px;
    padding-bottom: 26px;
    background-repeat: no-repeat;
    background-size: cover;

}

.single-footer-area ul li {
    list-style: disc;
    color: var(--aep-bc-color);
}

.single-footer-area ul li a {
    color: #FFF;
    font-family: var(--aep-secondary-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 147.5%;
    /* 23.6px */
}

.single-footer-area ul li:hover {
    color: var(--aep-primary-color);
}

.single-footer-area ul li:hover a {
    color: var(--aep-primary-color);
}

.single-footer-area h5::after {
    content: '-';
    display: block;
    font-size: 60px;
    color: var(--aep-primary-color);
}
.copyright-area a {
    color: var(--aep-bc-color);
}

.aep-home-blog-heading {
    padding-right: 490px;
}

.aep-home-gellary-heading {
    padding-right: 300px;
}



#main_menu ul li a i {
    font-size: 16px;
    color: var(--aep-bc-color);
    display: block;
    position: absolute;
    right: 15px;
    top: 13px;
}

.all-footer-area a i {
    color: var(--aep-heading-color);
    font-size: 30px;
    width: 54.121px;
    height: 54.121px;
    border-radius: 50%;
    background-color: #DDA003;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 133px;
    bottom: 91px;

}

/* ================================================================================= */
/* About */
/* ================================================================================= */
.aep-about-hero-content {
    display: flex;
    width: 780px;
    padding: 55px 58px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 29px;
    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(5.5px);
}

.aep-about-member-area-all {
    margin-top: 80px;
}

.aep-about-us-right-area img {
    position: absolute;
    top: 45px;
    left: 54px;
}

.single-vission-content a {
    color: var(--aep-secondary-color);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid var(--aep-secondary-color);
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.about-us-aep-exprience {   
    padding-bottom: 150px;
    background-color: var(--aep-bc-color);
}
.video-area {
    width: 962px;
    height: 369px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.single-team-member-area img {
    border-radius: 20px;
}

/* ====================================================================================================== */
/* service area */
.aep-single-process-area {
    padding-bottom: 20px;
}

.aep-single-process-area i {
    font-size: 30px;
}

.all-services-prices-aep {
    padding-top: 150px;
    padding-bottom: 150px;
    background-color: var(--aep-bc-color);
    margin-bottom: 100px;
}

.price-number h6:hover {
    background-color: var(--aep-text-color);
}

.aep-single-price-top {
    background-image: url('../img/price-bg.png');
    width: 323px;
    height: 234px;
    flex-shrink: 0;
    border-radius: 20px;
    padding: 27px;
}

.aep-single-price-top h5 {
    color: var(--aep-bc-color);
    margin-bottom: 15px;
}

.aep-single-price-top p {
    color: var(--aep-bc-color);
    margin-bottom: 30px;
}

.aep-single-price-top h1 {
    color: var(--aep-bc-color);
}

.aep-single-price-bottom {
    padding-left: 29px;
}

.single-price-list {
    width: 367px;
    padding: 21px 22px 40px 22px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 20px;
    background: #FFF;
    margin-top: 30px;
}

.single-all-prices-list li {
    list-style: none;
}

.single-all-prices-list li {
    color: var(--aep-text-color);
    font-family: var(--aep-secondary-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 251.5%;
}

.single-all-prices-list li::before {
    content: "\f054";
    color: var(--aep-bc-color);
    font-family: 'FontAwesome';
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 251.5%;
    margin-right: 15px;
    background-color: #181818;
    padding: 8px;
    border-radius: 50%;


}

/* =================================================================================== */
/* service single details */
.aep-service-hero-content {
    display: inline-flex;
    padding: 48px 60px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 29px;
    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(5.5px);
}

.single-aep-finance-area {
    display: flex;
    width: 377px;
    padding: 45px 39px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 20px;
    background: #EBEBEB;
}

.aep-service-finance-area .owl-nav {
    display: flex;
    gap: 26px;
    position: absolute;
    top: -78px;
    right: 42px;
}

.single-servie-details-area p {
    padding-right: 525px;
}

.single-aep-finance-area i {
    font-size: 38px;
    color: black;
}

.single-aep-finance-area:hover {
    background-color: #181818;
}

.single-aep-finance-area:hover i {
    font-size: 38px;
    color: var(--aep-primary-color);
}

.single-aep-finance-area:hover h4,
.single-aep-finance-area:hover p {
    color: var(--aep-bc-color);
}

.aep-expect-area img {
    position: absolute;
    top: 45px;
    left: 81px;
}

.aep-service-single-video-area {
    background: #181818;
    padding-top: 152px;
    padding-bottom: 152px;    
}

.aep-service-single-video-area {
    color: var(--aep-bc-color);
}

/*-------------------------------------
* faqs accordian 
---------------------------------------*/

.aep-faqs-area-all .container {
    padding: 151px 236px;

}

.single-accordian {
    background-color: #f5f7fa;
    padding: 20px 50px;
    margin-bottom: 10px;
}

.single-accordian .single-accordian-tittle {
    padding: 20px;
    border-radius: 8px 8px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.single-accordian .single-accordian-tittle h2 {
    font-size: 20px;
    font-weight: 600;
    color: var(--aep-button-color);
}

.single-accordian .single-accordian-tittle i {
    font-size: 20px;
    color: var(--aep-button-color);
}

.single-accordian-content {
    padding: 15px;
    display: none;
}

.single-accordian-content p {
    color: var(--aep-button-color);
    font-size: 16px;
    line-height: 26px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.active-accordian i.fa-plus {
    display: none;
}

.active-accordian.single-accordian-tittle i.fa-minus {
    display: block;
}

.single-accordian-tittle i.fa-minus {
    display: none;
}

/* ------------------------------------- */
/* talk area */
/* ------------------------------------- */
.talk-form form {
    display: flex;
    gap: 28px;
    margin-top: 20px;
}

.talk-form form input,
.newsletter-form input {
    display: flex;
    width: 304px;
    padding: 22px 20px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 54px;
    border: 1px solid #C1C1C1;
    background: #FFF;
}

.talk-form form input#mc-embedded-subscribe {
    background: #4EAF4E;
    width: 200px;

}

.aep-talk-ready-area {
    border-radius: 30px;
    background: #181818;
    background-repeat: no-repeat;
    background-position: right;
}

/* ============================================================== */
/* single taem area */
.thumb-single-team img {
    margin-top: 55px;
    border-radius: 20px;
}

/* ------------------------------------------ */
/* newSletter */
/* ------------------------------------------ */
.aep-newsletter-area {
    background-repeat: no-repeat;
    background-position: bottom right;
    background-color: var(--aep-heading-color);
    padding: 87px;
    border-radius: 45px;
}

.newsletter-form input#mc-embedded-subscribe {
    display: inline-flex;
    background: #FFCC4A;
    color: #181818;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    width: 180px;
}

/* =============================================================================== */
/* case study area */
.all-mixitup-area {
    padding-top: 160px;
    padding-bottom: 160px;
}

.aep-single-gellary-img img {
    border-radius: 42px;
}

.portfollio-controlar {
    display: flex;
    padding: 31px 44px;
    gap: 39px;
    border-radius: 30px;
    background: #181818;
    margin-bottom: 50px;
}

.portfollio-controlar button {
    color: #FFF;
    font-family: Cabin;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 116%;
    /* 29px */
    border-bottom: 1px solid transparent;
}

.portfollio-controlar button:hover {
    color: var(--aep-primary-color);
    border-bottom: 1px solid var(--aep-primary-color);

}

/* =========================================================== */
/* all-aep-single-case */
.all-aep-single-case {
    padding-top: 150px;
    padding-bottom: 150px;
}

.single-case-name-area {
    position: relative;
    display: flex;
    padding: 53px 60px;
    border-radius: 30px;
    background: #181818;
    justify-content: space-between;
    margin-top: -50px;
    z-index: 111;
}

.single-case-name-area h5 {
    color: var(--aep-bc-color);
}

.single-case-name-area p {
    color: var(--aep-bc-color);
}

.all-sinle-content-here {
    width: 792px;
    margin: auto;
    padding-top: 83px;
}

.all-sinle-content-here p,
.all-single-content-here p {
    margin-top: 15px;
    margin-bottom: 40px;
}

.li-area-case {
    margin-top: 15px;
    margin-bottom: 40px;
}

.li-area-case li a {
    color: #353535;
}

.all-sinle-content-here img,
.all-single-content-here img {
    margin-bottom: 40px;
}

.single-more-case {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 31px;
    justify-content: center;
}

.single-case-thumb-here {
    display: flex;
    padding: 41px 25px;
    gap: 25px;
    background: #D9D9D9;
}

.single-case-thumb-here img {
    border-radius: 20px;
}

.li-area-blog {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.li-area-blog ul li {
    list-style: disc;
}

.li-area-blog li a {
    color: #595566;

}

.li-area-blog.two ul li {
    list-style: decimal;

}

.all-single-content-here h2 {
    margin-top: 40px;
}

.all-single-content-here img {
    width: 100%;
}

/* --------------------------------------------------------- */
/*blog-details bg*/
/* --------------------------------------------------------- */
.single-details-main-testimonial,
.single-details-main-changelog {
    border-radius: 30px;
    background: #181818;
    padding: 94px 152px;
    background-repeat: no-repeat;
}

.single-testi-in-blog-details {
    text-align: center;

}

.single-testi-in-blog-details i {
    color: #DDA003;
    font-size: 84px;
}

/* bloag details author */

.blog-details-author-details {
    border-radius: 30px;
    background: #181818;
    display: flex;
    padding: 50px;
    gap: 35px;
    width: 794px;
    margin-top: 50px;

}

.blog-details-author-details img {
    border-radius: 50%;
}

/* ================================================== */
/* error-page-area-all */
/* ================================================== */

.error-page-area {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* ------------------------------------------- */
/* licenses */
/* ------------------------------------------- */
.aep-license-content {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    gap: 81px;
}

.aep-license-content h3 {
    margin-top: 40px;
}

.aep-license-content p {
    margin-top: 20px;
}

.aep-service-hero-content {
    width: 838px;
}

.thumb-single-team img {
    float: right;
}

span.wpcf7-form-control-wrap,
.nojq span {
    background-color: transparent;
    color: white;
}

.aep-single-case .thumb img {
    width: 1200px;
    height: 453px;
}

.all-sinle-content-here img {
    width: 636px;
}