@media only screen and (max-width: 992px) {
    * {
        margin: 0;
        padding: 0;
    }

    :root {
        --aep-primary-font: "Cabin";
        --aep-secondary-font: "Lato";
        --aep-primary-color: #FFCC4A;
        --aep-secondary-color: #4EAF4E;
        --aep-heading-color: #181818;
        --aep-text-color: #595566;
        --aep-button-color: #181818;
        --aep-bc-color: #F5F5F5;

    }

    .aep-home-hero-area {
        padding: 20px;
    }

    section {
        max-width: 100%;
    }

    .container {
        max-width: 100%;
    }

    .all-footer-area {
        width: 100%;
    }

    .header_phone_call {
        display: none;
    }

    .header-menu-area i {
        color: var(--aep-bc-color);
        font-size: 50px;
        display: block;
    }

    .header_menu {
        display: block;
        position: absolute;
        top: 57px;
        right: 0;
        background-color: var(--aep-text-color);
        z-index: 999;
    }

    #main_menu {
        display: none;
    }

    .header-area-all {
        padding-left: 40px;
        padding-right: 40px;
    }

    #main_menu ul li {
        display: block;

    }

    #main_menu ul li a {
        color: var(--aep-bc-color);
        display: block;

    }

    #main_menu ul ul {
        position: absolute;
        background-color: purple;
        width: 180px;
        left: -178px;
        right: 27px;
        z-index: 9999999;
    }

    #main_menu ul ul ul {
        background-color: purple;
        top: 0;
        left: -180px;
    }

    .aep-home-service-area {
        display: flex;
        width: 100%;
        padding: 50px;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        background: #F5F5F5;
    }

    .aep-home-service-area-heading-area {
        margin-bottom: 30px;

    }

    .aep-home-single-service-area {
        width: 100%;
    }

    .aep-home-skill-area-all {
        padding: 50px;
    }

    .gellary-area-flex {
        padding-top: 0;
        padding-bottom: 0;
        padding: 50px;
    }

    .aep-home-gellary-img {
        position: absolute;
        top: 398px;


    }

    .aep-home-gellary-img img {

        max-width: 100%;
    }

    .aep-team-member-area-all {
        margin-top: 1200px;
    }

    .aep-home-testimonial-area-container {
        padding: 0;
        padding-top: 50px;
    }

    .aep-home-testimonials .owl-nav {
        display: flex;
        position: absolute;
        justify-content: space-around;
        top: 400px;
        gap: 0;
    }

    .aep-book-area-right {
        display: none;
    }

    .aep-home-blog-area {
        padding: 50px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .aep-home-blog-heading {
        padding-right: 0;
    }

    .aep-home-gellary-heading {
        padding-right: 0;
    }

    .all-footer-area {
        padding-right: 40px;

    }

    .all-footer-area a i {

        right: 20px;
        bottom: 82px;
    }

    /* .col-span-3 {
        text-align: center;
        align-self: center;
    } */
    .contact-form textarea {
        max-width: 100%;


    }

    .aep-about-hero-content {

        width: 100%;

    }

    .aep-about-us-right-area img {
        display: none;
    }

    .aep-about-us-home-area-all {
        padding: 50px;
    }

    .video-area {
        max-width: 100%;
    }

    .single-team-member-area {
        margin-bottom: 40px;
        text-align: start;
        padding: 30px;
    }

    .single-price-list {
        width: 100%;

    }

    .single-servie-details-area p {
        padding-right: 0;
    }

    .aep-expect-area img {
        display: none;
    }

    .aep-faqs-area-all .container {
        padding: 20px;

    }

    .aep-talk-ready-area {
        display: none;
    }

    .aep-newsletter-area {
        background-repeat: no-repeat;
        background-position: bottom right;
        background-color: var(--aep-heading-color);
        padding: 87px;
        border-radius: 45px;
    }

    .portfollio-controlar {
        display: flex;
        flex-direction: column;
    }

    .single-case-name-area {
        flex-direction: column;
        gap: 40px;
        margin-top: 0;
    }

    


















}